body {
  background-color: #1a1a33;
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
}

h1 {
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

#quiz-container {
  background-color: #004d4d;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border: 3px solid #ffc107;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#question-container {
  text-align: center;
}

#image-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

#question-container {
  font-size: 20px;
  margin-bottom: 10px;
}


button {
  display: block;
  width: auto;
  /* Remove the 100% width */
  max-width: 300px;
  /* Set a maximum width to limit the size */
  padding: 10px;
  margin: 10px auto;
  /* Use auto margin on top and bottom, and auto on left and right to center the button */
  border-radius: 5px;
  background-color: #008080;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006666;
}

button.button1 {
  display: block;
  width: 10% !important;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #008080;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#result-container {
  font-size: 40px;
  font-weight: bold;
  color: #FFC400;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

#result-text {
  font-size: 24px;
  margin-top: 10px;
}

#home-button-container {
  margin-top: 20px;
  text-align: center;
}

#home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #333;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

#home-button:hover {
  background-color: #FFC400;
}

/* Home page index button styling */
#index-button-container {
  margin-top: 20px;
  text-align: center;
}

/* Code for blinking tally */
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

#tally-container {
  color: #ffc107;
  font-weight: bolder;
  text-align: center;
}

.index-buttons {
  display: inline-block;
  padding: 80px 90px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #FFD700;
  color: #333;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  border-radius: 5px;
}

.index-buttons a {
  color: #004d4d;
  text-decoration: none;
}

.index-buttons a:visited {
  color: #333;
  /* Change the color for visited links here */
}

.index-buttons a:focus {
  outline: none;
}

.index-buttons:hover {
  background-color: #FFC400;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

/* Style for flashcards */
/* Card Styling */

.card-container {
  grid-column: 1/4;
  grid-row: 2/3;
  align-items: center;
  justify-self: center;
  justify-content: center;
  perspective: 60vw;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 600ms;
  cursor: pointer;
  position: relative;
  /* Add a box shadow */
}

/* Class for flipping front of the card*/

.card.is-flipped {
  transform: rotateY(180deg);
}

/* Styling positioning */

.frontofcard {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.topic {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 2.5vh;
  text-align: center;
}

.image {
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 27vw;
}

img {
  display: block;
  height: 40vh;
  width: 100%;
  object-fit: contain;
}

/* Styling the back side of the Flash Card*/

.contentofcard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 300px;
  max-width: 90%;
  max-height: 90vh;
  background-color: #004d4d;
  color: #ffc107;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffc107;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal-text {
  flex: 1;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #0099ff;
}

footer {
  background-color: #1a1a33;
  color: #ffff;
  text-align: center;
  padding: 20px;
}

/* Media queries for smaller screens */
@media (max-height: 600px) {
  .footer {
    position: static;
  }
}