body {
  background-color: #1a1a33;
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
}

h1 {
  color: #ffffff;
  margin-top: 20px;
}

#quiz-container {
  background-color: #004d4d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#image-container {
  position: relative;
  /* Added */
  margin-bottom: 20px;
  /* Added */
}

#image-container img {
  width: 100%;
  /* Adjust as needed */
  height: auto;
  /* Adjust as needed */
  display: block;
  border-radius: 5px;
}

#question-container {
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #008080;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006666;
}

#result-container {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

#home-button-container {
  margin-top: 20px;
  text-align: center;
}

#home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #333;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

#home-button:hover {
  background-color: #FFC400;
}

/* Home page index button styling */
#index-button-container {
  margin-top: 20px;
  text-align: center;
}

#index-buttons {
  display: inline-block;
  padding: 80px 90px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #FFD700;
  color: #333;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: larger;
  text-decoration: nonegit;
  border-radius: 5px;
}

#index-buttons:hover {
  background-color: #FFC400;
}

/* Style for modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal--hidden {
  display: none;
}

.modal__contact {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
}

.overlay--hidden {
  display: none;
}